<mat-sidenav-container class="layout-container">


    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <mat-toolbar color="primary">Menú</mat-toolbar>
        <mat-nav-list>
            <ng-container *ngIf="userSession?.tipoUsuario === 'admin'; " >  
                      <a mat-list-item routerLink="/usuarios">
                        <mat-icon>people</mat-icon>
                        Usuarios
                      </a>
                      <a mat-list-item routerLink="/turnos">
                        <mat-icon>event_note</mat-icon>
                        Turnos
                      </a>
            </ng-container>
            <!-- <a mat-list-item routerLink="/login">Login</a>
            <a mat-list-item routerLink="/registro">Registro</a> -->
            <ng-container *ngIf="userSession?.tipoUsuario === 'paciente' || userSession?.tipoUsuario === 'admin'">
              <a mat-list-item routerLink="/solicitar-turno">
                <mat-icon>add_circle</mat-icon>
                Solicitar Turno
              </a>
            </ng-container>
            <ng-container *ngIf="userSession?.tipoUsuario === 'paciente' || userSession?.tipoUsuario === 'especialista'">
              <a mat-list-item routerLink="/mis-turnos">
                <mat-icon>event</mat-icon>
                Mis Turnos
              </a>
            </ng-container>
            <a mat-list-item routerLink="/mi-perfil">
              <mat-icon>person</mat-icon>
              Mi Perfil
            </a>
            <a mat-list-item  (click)="logout()">Cerrar sesión</a>
        </mat-nav-list>
    </mat-sidenav>
  
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header mat-elevation-z4">
    @if (userSession) 
    {
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    }
    
    <span class="titulo">Clínica Online</span>
    <span class="spacer"></span>

    <ng-container *ngIf="userSession; " >    
      <div style="gap:10px;display: flex;align-items: center;">
        <span>{{ userSession.nombre }} {{ userSession.apellido }}</span>
        <button mat-icon-button routerLink="/mi-perfil" matTooltip="Mi Perfil">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </ng-container>
  </mat-toolbar>

    <main class="contenido">
      <ng-content></ng-content>
    </main>

<!-- 
        <mat-toolbar color="primary" class="footer">
      <span>© 2025 Mi Empresa</span>
    </mat-toolbar> -->
  </mat-sidenav-content>




</mat-sidenav-container>







