.formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  mat-form-field {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
    margin: 40px 0;
  }
  