.onboarding-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: transparent;

}

.onboarding{
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50vw;
  height: 60vh;
}
  img{
    width: 400px;
    height: 400px;
  }